<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="/static/main.css">

    {% if recipe.status == 1 %}

    {{ recipe.username }} ({{ recipe.date }})

    <head>
        <title>{{ recipe.title }}</title>
    </head>

    <body>
    <h2>{{ recipe.title }}</h2>

    <h4> ainesosat </h4>
    {% set list = recipe.ingredients.split(',') %}
    {% for ingredient in list %} 
    <li> {{ingredient}} </li> 
    {% endfor %}

    <br>

    <h4> ohjeet </h4>
    {{recipe.instructions}} <br>
    </body>

    {% if session.user_id == recipe.user_id %}
    <a href="/edit/{{recipe.id}}">muokkaa</a>
    <a href="/delete/{{recipe.id}}">poista</a>
    {% endif %}

    {% else %}

    reseptia ei löyty

    {% endif %}

</html>